---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import Subtitle from '@/components/Subtitle.astro';
import { Image } from 'astro:assets';
import lmd from '/src/assets/img/online-store-lmd.png';
import blur from '/src/assets/img/bg.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

import cybersecurityI from '/src/assets/img/certifications/Coursera_CybersecurityI.jpg';
import cybersecurityII from '/src/assets/img/certifications/Coursera_CybersecurityII.jpg';
import cybersecurityIII from '/src/assets/img/certifications/Coursera_Network_Security.jpg';

import aiI from '/src/assets/img/certifications/Coursera_Intro_TF.jpg';
import aiII from '/src/assets/img/certifications/Coursera_CNN_TF.jpg';
import aiIII from '/src/assets/img/certifications/Coursera_CustomModels_TF.jpg';

import deploymentI from '/src/assets/img/certifications/Coursera_Docker_Beginners.jpg';

import networkI from '/src/assets/img/certifications/Coursera_Fundamentals_Network_Communication.jpg';

import webdev from '/src/assets/img/certifications/edX_Web_Programming.png';

import db from '/src/assets/img/certifications/Udemy_PostgreSQL.jpg';

import log from '/src/assets/img/certifications/Intro_to_Splunk.jpeg';

import roboticsI from '/src/assets/img/certifications/Roboboat2023.jpg';
import roboticsII from '/src/assets/img/certifications/Roboboat2024.jpg';

import unittestingI from '/src/assets/img/certifications/Udemy_JUnit.jpg';
import unittestingII from '/src/assets/img/certifications/Udemy_Mockito.jpg';

import cadI from '/src/assets/img/certifications/Onshape.jpeg';
import cadII from '/src/assets/img/certifications/AutoCAD.jpeg';

import networkI from '/src/assets/img/certifications/Coursera_Fundamentals_Network_Communication.jpg';

let title = Astro.props;
---

<Head title='Certifications' />
<Layout
	class='relative'
	title='Certifications'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Certifications'/>
	</div>
	<!-- CERTIFICATIONS -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={blur}
		class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
    <!-- Horizontal Menu -->
		<nav class='w-full'>
		<ul class='flex justify-center space-x-4 my-4'>
			<li class='hover:underline'>
			<a href="#cybersecurity" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Cybersecurity</a>
			</li>

			<li class='hover:underline'>
			<a href="#ai" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>AI and ML</a>
			</li>

			<li class='hover:underline'>
			<a href="#deployment_cicd" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Deployment and CI/CD</a>
			</li>

			<li class='hover:underline'>
			<a href="#webdev" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Web Development</a>
			</li>

		</ul>
		<ul class='flex justify-center space-x-4 my-4'>
			<li class='hover:underline'>
			<a href="#robotics" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Robotics</a>
			</li>

			<li class='hover:underline'>
			<a href="#db" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Database Management and Analysis</a>
			</li>

			<li class='hover:underline'>
			<a href="#log" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Log Management and Analysis</a>
			</li>

			<li class='hover:underline'>
			<a href="#unittest" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>Java Unit Testing</a>
			</li>

			<li class='hover:underline'>
			<a href="#cad" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-lg'>CAD Drawing</a>
			</li>
		</ul>
		</nav>

		<div class='grid mt-[11.1111%] content-center' id="cybersecurity">
			<Subtitle text='Cybersecurity'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={cybersecurityI}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/567B3TRXXL66"
				title='Foundations of Cybersecurity'
				badgeProps={[
					{ text: "Cybersecurity" },
				]}
				badgeLinkProps={[ 
				]}
				description={`
				I was introduced to cybersecurity through a Google-developed curriculum, exploring significant events in the field's evolution, 
				the impact of security incidents on businesses, and the role of an entry-level cybersecurity analyst. The course included interactive content 
				from current Google professionals, hands-on activities, and simulations to build job-ready skills, covering CISSP security domains, frameworks, 
				controls, ethics, and analytical tools.
				`}
				>	
				</PortfolioCard>
				
				<PortfolioCard
				img={cybersecurityII}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/734E7RTNRMRU"
				title='Play It Safe: Manage Security Risks'
				badgeProps={[
						{ text: "Cybersecurity" },
				]}
				badgeLinkProps={[ 
				]}
				description={`
				In this advanced cybersecurity course, I deepened my knowledge of frameworks and controls, risk management, 
				and threat mitigation. Guided by Google professionals, I learned to navigate SIEM data, use playbooks for threat responses, 
				and conduct security audits, gaining practical skills for entry-level cybersecurity roles.
				`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={cybersecurityIII}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/4KVYW4LST84B"
				title='Network Security'
				badgeProps={[
					{ text: "Cybersecurity" },
					{ text: " Network Security" }
				]}
				badgeLinkProps={[ 
				]}
				description={`
				I completed a course enhancing my understanding of network infrastructure and security monitoring tools. 
				I can now elucidate ACL operations, NAT concepts, and the utility of various NSM tools within a SOC. 
				My knowledge extends to network-based malware defenses, load balancing, web application firewalls, and access control models.
				`}
				>
				</PortfolioCard>

								<PortfolioCard
				img={networkI}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/CD8M527ZZ2N7"
				title='Fundamentals of Network Communication'
				badgeProps={[
					{ text: "Communication Networks" },
					{ text: "Internet Protocols" },
					{ text: "Error Control Techniques" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					This course provided a comprehensive overview of network evolution, key concepts, and functions 
					of layered architecture. It detailed protocols and services integral to current networks, explained 
					digital communication fundamentals, and error control techniques such as parity checks, polynomial 
					codes, and Internet checksums. ​
					`}
				>
				</PortfolioCard>
			</div> 
		</div> 
		<div class='grid mt-[11.1111%] content-center' id="ai">
			<Subtitle text='Artificial Intelligence and Machine Learning'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={aiI}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/UWL3CSRJS6LA"
				title='Introduction to TensorFlow for Artificial Intelligence, Machine Learning, and Deep Learning'
				badgeProps={[
					{ text: "TensorFlow" },
					{ text: "Python" },
					{ text: "Google Colab" },
					{ text: "Machine Learning" }		
				]}
					badgeLinkProps={[ 
				]}
					description={`
					In this course, I have learned to harness the power of TensorFlow, mastering best practices 
					for this leading open-source machine learning framework. I have built and trained a basic neural 
					network, applying my skills to a computer vision application. My understanding of convolutions 
					has deepened, enabling me to significantly improve neural network efficiency and accuracy. 
					Through hands-on projects, I have acquired practical expertise to innovate and excel in machine 
					learning endeavors.
					`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={aiII}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/87VYPLKNH7WE"
				title='Convolutional Neural Networks in TensorFlow'
				badgeProps={[
					{ text: "TensorFlow" },
					{ text: "Python" },
					{ text: "Google Colab" },
					{ text: "Machine Learning" }		
				]}
					badgeLinkProps={[ 
						{text: "WordPress", alt: "WordPress logo", href: "https://wordpress.com/"},
				]}
					description={`
					I have completed a certification where I honed my skills in handling real-world image data, 
					plotting loss and accuracy, and implementing strategies to prevent overfitting, 
					like augmentation and dropout. I also learned about transfer learning, gaining the ability 
					to extract learned features from existing models.
					`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={aiIII}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/M62EF8BSTMG8"
				title='Custom Models, Layers, and Loss Functions with TensorFlow'
				badgeProps={[
					{ text: "TensorFlow" },
					{ text: "Python" },
					{ text: "Google Colab" },
					{ text: "Machine Learning" }				
				]}
				badgeLinkProps={[ 
				]}
					description={`
					In this course, I learned to differentiate and build models using TensorFlow's 
					Functional and Sequential APIs, including multi-output models and Siamese networks. 
					I have crafted custom loss functions like the contrastive loss, developed unique layers,
					and explored activation functions. Furthermore, I gained proficiency in enhancing models with 
					custom features and creating advanced architectures such as ResNets by defining custom model 
					classes.
					`}
				>
				</PortfolioCard>
			</div> 
		</div> 

		<div class='grid mt-[11.1111%] content-center' id="deployment_cicd">
			<Subtitle text='Deployment and CI/CD'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={deploymentI}
				alt={title}
				site="https://www.coursera.org/account/accomplishments/certificate/CLL7T6MMLQ68"
				title='Docker for absolute beginners'
				badgeProps={[
					{ text: "Docker" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					In a 2-hour guided project on Docker, I learned its architecture, commands for managing images 
					and containers, networking, and volume management. I applied these skills to deploy a 
					web application as a Docker container, streamlining application build, share, and run processes.
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="webdev">
			<Subtitle text='Web Development'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={webdev}
				alt={title}
				site="https://courses.edx.org/certificates/3996348988b24b8a9506d54a76c82217"
				title='Introduction to Cloud Development with HTML, CSS and JavaScript'
				badgeProps={[
					{ text: "HTML" },
					{ text: "CSS" },
					{ text: "JavaScript" },
					{ text: "GitHub" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					Through this course, I have gained a comprehensive understanding of the cloud development ecosystem, familiarizing myself 
					with essential terminology and tools. I've become proficient in developer tools and IDEs, enhanced my skills in HTML, CSS, and JavaScript 
					for user interface creation, and developed expertise in managing projects with Git and GitHub. This has prepared me for professional web development. ​
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="robotics">
			<Subtitle text='Robotics'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={roboticsII}
				alt={title}
				site="https://github.com/IcebergASV"
				title='Roboboat 2024'
				badgeProps={[
					{ text: "Robotics Operating System (ROS)" },
					{ text: "Computer Vision" },
					{ text: "C++" },
					{ text: "Python" },
					{ text: "GitHub" }	
				]}
					badgeLinkProps={[ 
				]}
					description={`
					Second year at Robobat 2024 Competition: RoboBoat is an international competition where student teams globally create autonomous surface vehicles (ASVs) 
					to autonomously navigate through a series of maritime challenges. These robotic boats showcase advanced maritime maneuverability and are engineered
					to address real-world issues such as coastal surveillance, port security, and oceanographic operations, reflecting the pressing needs of the maritime industry.
					`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={roboticsI}
				alt={title}
				site="https://github.com/IcebergASV"
				title='Roboboat 2023'
				badgeProps={[
					{ text: "Robotics Operating System (ROS)" },
					{ text: "Computer Vision" },
					{ text: "C++" },
					{ text: "Python" },
					{ text: "GitHub" }	
				]}
					badgeLinkProps={[ 
				]}
					description={`
					First year at Robobat 2023 Competition: RoboBoat is an international competition where student teams globally create autonomous surface vehicles (ASVs) 
					to autonomously navigate through a series of maritime challenges. These robotic boats showcase advanced maritime maneuverability and are engineered
					to address real-world issues such as coastal surveillance, port security, and oceanographic operations, reflecting the pressing needs of the maritime industry.
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="db">
			<Subtitle text='Database Management and Analysis'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={db}
				alt={title}
				site="https://www.udemy.com/certificate/UC-95b1d7e4-3f7c-48c2-ad9a-b93da8e963bb/"
				title='Intro To PostgreSQL Databases With PgAdmin For Beginners'
				badgeProps={[
					{ text: "PostgreSQL" },
					{ text: "PgAdmin" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					Successfully completed training in PostgreSQL and PgAdmin 4. Proficient in installation, database creation, data manipulation, and basic reporting. 
					Acquired skills in SQL commands, Primary and Foreign Keys, and database backup/restoration. This certification attests to expertise in PostgreSQL and 
					PgAdmin 4, covering database management, SQL operations, and data integrity.
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="log">
			<Subtitle text='Log Management and Analysis'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={log}
				alt={title}
				title='Intro to Splunk'
				badgeProps={[
					{ text: "Splunk" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					In the 'Intro to Splunk' eLearning course, I learned to utilize Splunk for creating reports, dashboards, and event exploration using the Search 
					Processing Language. I mastered Splunk's architecture, user roles, and navigation of the Splunk Web interface, gaining skills in building searches,
					 visualizations, and understanding knowledge objects, preparing me for advanced data analysis tasks. ​
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="unittest">
			<Subtitle text='Java Unit Testing'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={unittestingI}
				alt={title}
				site="https://www.udemy.com/certificate/UC-5493c6db-7b3f-42cf-9448-8d5124041c43/"
				reposite="https://github.com/DavidGuamanDavila/JUnit5-Testing-Showcase"
				title='Practical Java Unit Testing with JUnit 5'
				badgeProps={[
					{ text: "JUnit" },
					{ text: "Java" },
					{ text: "Eclipse IDE" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					Finished JUnit 5 training: Gained expertise in unit testing, best practices, and TDD basics. 
					Ready to boost code quality with effective tests in IDEs.
					`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={unittestingII}
				alt={title}
				site="https://www.udemy.com/certificate/UC-e5b9627b-defb-47c2-b78c-dbe87b157ca8/"
				reposite="https://github.com/DavidGuamanDavila/JUnit5-Testing-Showcase"
				title='Mockito: Next-Level Java Unit Testing'
				badgeProps={[
					{ text: "Mockito" },
					{ text: "JUnit" },
					{ text: "Java" },
					{ text: "Eclipse IDE" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					I recently completed a comprehensive course focused on enhancing Java JUnit tests using mocks, specifically learning about Mockito 5 version. 
					The course equipped me with the skills to efficiently run unit tests with mocks in the Eclipse IDE, addressing practical, real-world testing problems.
					Throughout my learning journey, I was guided to follow mocking best practices, which has significantly improved my ability to develop high-quality test 
					suites for Java applications.
					`}
				>
				</PortfolioCard>
			</div>
		</div>

		<div class='grid mt-[11.1111%] content-center' id="cad">
			<Subtitle text='CAD Drawing'/>
			<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>
				<PortfolioCard
				img={cadII}
				alt={title}
				site="https://www.credly.com/badges/26dd6d15-1978-497e-abf1-f2ed9386615a?source=linked_in_profile"
				title='AutoCAD Certified User'
				badgeProps={[
					{ text: "AutoCAD" },
					{ text: "Assembly Design" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					I completed an Autodesk AutoCAD training course, enhancing my expertise in computer-aided design. 
					Alongside formal education, I acquired hands-on experience with Autodesk AutoCAD software, applying theoretical knowledge in practical applications. 
					My proficiency was validated through a proctored exam, inclusive of identity verification, at a Certiport Authorized Testing Center, where I successfully 
					demonstrated my competency in AutoCAD to earn the certification.
					`}
				>
				</PortfolioCard>

				<PortfolioCard
				img={cadI}
				alt={title}
				title='Onshape Fundamentals: CAD'
				badgeProps={[
					{ text: "Onshape" },
					{ text: "Assembly Design" }
				]}
					badgeLinkProps={[ 
				]}
					description={`
					I completed the Onshape Learning Pathway, gaining expertise in advanced CAD features like sketching, modeling, 
					and assembly. The program emphasized Onshape's unique capabilities and best practices, ensuring a seamless transition from traditional 
					parametric 3D CAD. My proficiency was certified upon completion, showcasing my readiness for modern CAD challenges.
					`}
				>
				</PortfolioCard>
			</div>
		</div>

	</section>
</Layout>
