---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import { Picture,Image } from 'astro:assets';
import blur from '/src/assets/img/bg.svg';
import cover from '/src/assets/img/dev.jpg';
import me from '/src/assets/img/antondavidguamandavila.jpeg'
import Button from '@/components/Button.astro';
import DownloadButton from '@/components/DownloadButton.astro';
import linkedin from '/src/assets/img/linkedin.svg'
import github from '/src/assets/img/github.svg';
import tvs  from '/src/assets/img/tv-1.svg';
import resume  from '/src/assets/img/resume.svg';
import explore  from '/src/assets/img/explore.svg';
---
<html lang='en'>
	<Head title='Home' />
	<Layout>
		<!-- HERO -->
		<section
			class='grid gap-x-10 gap-y-10 lg:gap-y-0 place-content-center content-center lg:grid-flow-col lg:auto-cols-max lg:mt-[10rem] 2xl:mt-[15rem] mb-[5rem] px-3 lg:px-0 h-full text-white'>
			<Image
			src={blur}
			class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
			alt='blur background'
		/>

			<div
				class='blur-bg rounded-xl p-4 lg:p-10 mt-[8rem] xs:mt-[10rem] sm:mt-[12rem] md:mt-[10rem] lg:mt-0 w-full max-w-[600px]'>
				<div>
					<h1
						class='text-7xl lg:text-9xl font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0'>
						Glad to see you here!
					</h1>
				</div>

				<div class='text-xl font-light lg:max-w-6xl mt-5'>
					<blockquote>
						Welcome to my website, where you can delve into my resume, explore my work experience, review my certifications, 
						and browse through my portfolio. Currently, I am a software developer intern at Nasdaq. Beyond academia, 
						I'm contributing to the development of an Autonomous Surface Vehicle (ASV), while also learning ROS2 and Gitlab CI/CD. 
						At the heart of it all, I thrive on tackling challenging problems and am deeply passionate about my work!
					</blockquote>
				</div>
			</div>
			<div>
				<div class='self-start blur-bg rounded-xl p-4 lg:p-10 w-full max-w-[400px]'>
					<div class="grid justify-center content-center mb-5 lg:mb-0">
						<Picture class="my-4 object-cover rounded-full ring-8 ring-white/80 w-full h-full max-w-[200px] max-h-[200px] lg:max-w-[250px] lg:max-h-[250px]" src={me} formats={["avif", "webp"]} width="300" height="300" alt="David Guaman Davila" />
						<nav>
							<ul class='justify-center my-4'>
								<li class="mb-6"> <!-- Adjust the margin bottom value as needed -->
									<Image
										class='inline-block w-6 lg:w-8 mr-4'
										src={github}
										width='40'
										height='40'
										alt='David Guaman Davila's Github'
									/>
									<Button text="Check out what I'm developing" link="https://github.com/DavidGuamanDavila" />
								</li>
								<li class="mb-6">
									<Image
										class='inline-block w-6 lg:w-8 mr-4'
										src={linkedin}
										width='40'
										height='40'
										alt='Anton David Guaman Davila's linkedin'
									/>
									<Button text="Visit me on LinkedIn" link="https://www.linkedin.com/in/anton-david-guaman-davila/" />
								</li>
								<li class="mb-6">
									<Image
										class='inline-block w-6 lg:w-8 mr-4'
										src={resume}
										width='40'
										height='40'
										alt='Anton David Guaman Davila's linkedin'
									/>
									<DownloadButton text="Download Resume" link="/src/assets/Anton_David_Guaman_Davila_Resume.pdf" />
								</li>
								<li class="mb-6">
									<Image
										class='inline-block w-6 lg:w-8 mr-4'
										src={explore}
										width='40'
										height='40'
										alt='Anton David Guaman Davila's linkedin'
									/>
									<Button text="Currently exploring" link="https://arxiv.org/pdf/2311.09093.pdf" />
								</li>
								<li class="mb-6"> 
									<Image
										class='inline-block w-6 lg:w-8 mr-4'
										src={tvs}
										width='40'
										height='40'
										alt='Anton David Guaman Davila's linkedin'
									/>
									<Button text="Currently binge watching Seinfeld" link="https://www.youtube.com/watch?v=hQXKyIG_NS4" />
								</li>
							</ul>
						</nav>		
					</div>
				</div>
			</div>
		</section>
	</Layout>
</html>
