---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import Subtitle from '@/components/Subtitle.astro';
import { Image } from 'astro:assets';
import seafood from '/src/assets/img/seafood_prod.png';
import ocio from '/src/assets/img/ocio.jpg';
import buildings from '/src/assets/img/smartbuildings.jpg';
import security from '/src/assets/img/security.jpg';

import blur from '/src/assets/img/bg.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

let title = Astro.props;
---

<Head title='Work Experience' />
<Layout
	class='relative'
	title='Portfolio'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Work Experience' />
	</div>
	<!-- ABOUT ME -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={blur}
		class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<nav class='w-full'>
			<ul class='flex justify-center space-x-4 my-4'>
				<li class='hover:underline'>
				<a href="#nrc" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-3xl'>NRC</a>
				</li>

				<li class='hover:underline'>
				<a href="#nasdaq" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-3xl'>Nasdaq-Verafin</a>
				</li>

				<li class='hover:underline'>
				<a href="#ocio" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0 text-3xl'>OCIO</a>
				</li>
			</ul>
		</nav>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="nasdaq">
			<Subtitle text='Nasdaq-Verafin'/>
			<PortfolioCard
				img={security}
				alt={title}
				companyweb="https://verafin.com/"
				projectdesc="https://verafin.com/product/bsa-aml-compliance-management/#:~:text=Verafin%20analyzes%20a%20wide%20variety,financing%20or%20human%20trafficking%20activity."
				title='Software Developer Intern'
				badgeProps={[
					{ text: "Java" },
					{ text: "JUnit" },
					{ text: "Mockito" },
					{ text: "GitHub" },
					{ text: "QA Testing" },
					{ text: "IntelliJ IDEA" }

			]}
				badgeLinkProps={[ 
			 ]}
				description={`
				The website I developed offers water delivery in Belogorodka and
				surrounding areas. It has an attractive design, intuitive layout
				and integration with analytical tools to attract more customers.
				Visitors can easily leave a request for water delivery through the
				order form and get access to bottled drinking water.
				`}
			>
			</PortfolioCard>
		</div>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="nrc">
			<Subtitle text='National Research Council (NRC)'/>
			<PortfolioCard
			img={buildings}
			alt={title}
			site="https://nrc.canada.ca/en"
			projectdesc="https://nrc.canada.ca/en/research-development/research-collaboration/programs/high-performance-buildings-program"
			title='Web Application Developer'
			badgeProps={[
				{ text: "Back-End" },
				{ text: "Python" },
				{ text: "Java" },
				{ text: "HQL" },
				{ text: "JUnit" },
				{ text: "Maven" },
				{ text: "SQLAlchemy" },
				{ text: "GitLab" },
				{ text: "Eclipse IDE" },
			]}
				badgeLinkProps={[ 
			]}
				description={`
				Analyzed the target audience, I realized that it is necessary to
				make something similar to the model of behavior in Instagram, as
				well as similar at least remotely similar design, thanks to a set
				of solutions sales from their instagram store went to online store
				and increased by 1000%
				`}
			>
			</PortfolioCard>
		</div>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="ocio">
			<Subtitle text='Office of the Chief Information Officer (OCIO)'/>		
			<PortfolioCard
			img={ocio}
			alt={title}
			companyweb="https://www.geosurv.gov.nl.ca/fishaq/directory/"
			title='Co-op Engineering Student'
			badgeProps={[
				{ text: "Back-End" },
				{ text: "APEX" },
				{ text: "SQL" },
				{ text: "Oracle Databse" },
				{ text: "Tortoise SVN" },
				{ text: "SVN" },
				{ text: "VS Code" }
			]}
				badgeLinkProps={[ 
			]}
				description={`
				Analyzed the target audience, I realized that it is necessary to
				make something similar to the model of behavior in Instagram, as
				well as similar at least remotely similar design, thanks to a set
				of solutions sales from their instagram store went to online store
				and increased by 1000%
				`}
			>
			</PortfolioCard>
			<PortfolioCard
			img={seafood}
			alt={title}
			companyweb="https://www.geosurv.gov.nl.ca/fishaq/directory/"
			project="https://www.geosurv.gov.nl.ca/fishaq/directory/"
			title='Co-op Engineering Student'
			badgeProps={[
				{ text: "Front-End" },
				{ text: "ASP.NET/Classic ASP" },
				{ text: "Jira" },
				{ text: "JavaScript" },
				{ text: "HTML/CSS" },
				{ text: "Tortoise SVN" },
				{ text: "SVN" },
				{ text: "VS Code" }
			]}
				badgeLinkProps={[ 
			]}
				description={`
				Analyzed the target audience, I realized that it is necessary to
				make something similar to the model of behavior in Instagram, as
				well as similar at least remotely similar design, thanks to a set
				of solutions sales from their instagram store went to online store
				and increased by 1000%
				`}
			>
			</PortfolioCard>
		</div>
	</section>
</Layout>
