---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import { Image } from 'astro:assets';
import water from '/src/assets/img/water-website.png';
import byshikat from '/src/assets/img/online-store-byshikat.png';
import lmd from '/src/assets/img/online-store-lmd.png';
import blur from '/src/assets/img/bg.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

let title = Astro.props;
---

<Head title='Portfolio' />
<Layout
	class='relative'
	title='Portfolio'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Portfolio' />
	</div>
	<!-- ABOUT ME -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={blur}
		class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>

			<PortfolioCard
				img={water}
				alt={title}
				site="https://h2ovoda.com.ua/"
				title='Water delivery website'
				badgeProps={[
					{ text: "JavaScript" },
					{ text: "HTML/CSS" }
			]}
				badgeLinkProps={[ 
					{text: "Astro", alt: "Astro logo", href: "https://astro.build/"},
					{text: "TailwindCSS", alt: "TailwindCSS logo", href: "https://tailwindcss.com/"}

			 ]}
				description={`
				The website I developed offers water delivery in Belogorodka and
				surrounding areas. It has an attractive design, intuitive layout
				and integration with analytical tools to attract more customers.
				Visitors can easily leave a request for water delivery through the
				order form and get access to bottled drinking water.
				`}
			>
	</PortfolioCard>

		<PortfolioCard
		img={byshikat}
		alt={title}
		site="https://byshikat.com/"
		title='Byshikat online shoes store'
		badgeProps={[
			{ text: "PHP" },
			{ text: "ACF" },
			{ text: "JavaScript" },
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "WordPress", alt: "WordPress logo", href: "https://wordpress.com/"},
		]}
			description={`
			Analyzed the target audience, I realized that it is necessary to
			make something similar to the model of behavior in Instagram, as
			well as similar at least remotely similar design, thanks to a set
			of solutions sales from their instagram store went to online store
			and increased by 1000%
			`}
		>
		</PortfolioCard>

		<PortfolioCard
		img={lmd}
		alt={title}
		site="https://lmd.lviv.ua/"
		title='Paper gift bags service'
		badgeProps={[
			{ text: "PHP" },
			{ text: "ACF" },
			{ text: "JavaScript" },
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "WordPress", alt: "WordPress logo", href: "https://wordpress.com/"},
		]}
			description={`
			This online store is based on WordPress CMS and WooCommerce, I
			redesigned the old site to a modern design and optimized the
			loading time, thanks to a comprehensive approach, the number of
			visitors and sales increased. Now the site is at the top of google
			in Ukraine.
			`}
		>
		</PortfolioCard>

		</div>
	</section>
</Layout>
