---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import Subtitle from '@/components/Subtitle.astro';
import { Image } from 'astro:assets';
import seafood from '/src/assets/img/seafood_prod.png';
import ocio from '/src/assets/img/ocio.jpg';
import buildings from '/src/assets/img/smartbuildings.jpg';
import security from '/src/assets/img/security.jpg';
import ra from '/src/assets/img/residentassistant.jpg';
import asv from '/src/assets/img/asv.jpeg';

import blur from '/src/assets/img/bg.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

let title = Astro.props;
---

<Head title='Work Experience' />
<Layout
	class='relative'
	title='Portfolio'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Work Experience' />
	</div>
	<!-- WORK EXPERIENCE -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={blur}
		class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<nav class='w-full'>
			<ul class='flex justify-center space-x-4 my-4'>
				<li class='hover:underline'>
					<a href="#iceberg" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0 text-3xl'>Iceberg ASV</a>
					</li>
				<li class='hover:underline'>
				<a href="#nrc" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0 text-3xl'>NRC</a>
				</li>

				<li class='hover:underline'>
				<a href="#nasdaq" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0 text-3xl'>Nasdaq-Verafin</a>
				</li>

				<li class='hover:underline'>
				<a href="#ocio" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0 text-3xl'>OCIO</a>
				</li>

				<li class='hover:underline'>
				<a href="#mun" class='font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0 text-3xl'>MUN</a>
				</li>
			</ul>
		</nav>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="nasdaq">
			<Subtitle text='Nasdaq-Verafin'/>
			<PortfolioCard
				img={security}
				alt={title}
				companyweb="https://verafin.com/"
				projectdesc="https://verafin.com/product/bsa-aml-compliance-management/#:~:text=Verafin%20analyzes%20a%20wide%20variety,financing%20or%20human%20trafficking%20activity."
				title='Software Developer Intern'
				badgeProps={[
					{ text: "Java" },
					{ text: "JUnit" },
					{ text: "Mockito" },
					{ text: "GitHub" },
					{ text: "QA Testing" },
					{ text: "IntelliJ IDEA" }

			]}
				badgeLinkProps={[ 
			 ]}
				description={`
				Verfin is a financial crime management technology company that specializes in providing advanced verification and fraud prevention 
				solutions. I worked in the Anti-Money Laundering analytics team, where my contributions were multifaceted, 
				focusing on enhancing the security and efficiency of payment software through development and testing. My role also involved 
				analyzing system performance to maintain transaction integrity and collaborating in an Agile team environment. 
				This collaborative effort was pivotal in ensuring continuous improvement and adaptability to meet evolving financial security
				demands.
				`}
			>
			</PortfolioCard>
		</div>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="iceberg">
			<Subtitle text='Iceberg ASV'/>
			<PortfolioCard
				img={asv}
				alt={title}
				companyweb="https://www.icebergasv.ca/"
				reposite="https://github.com/IcebergASV"
				title='Computer Vision Engineer'
				badgeProps={[
					{ text: "Robotics Operating System" },
					{ text: "Linux" },
					{ text: "C++" },
					{ text: "GitHub" },
					{ text: "Python" },
					{ text: "Sensors" },
					{ text: "VS Code" }

			]}
				badgeLinkProps={[ 
			 ]}
				description={`
				Iceberg ASV is a student-driven team from Memorial University that participates in the International RoboBoat Competition in Florida. This 
				interdisciplinary group of engineering students focuses on designing, building, and testing an Autonomous Surface Vehicle (ASV) for competition. 
				Iceberg ASV has showcased its innovations at the RoboBoat events in 2023 and 2024. My contributions include developing ASV code with ROS on Linux, 
				crafting a YOLOv5 object detection model via RoboFlow for aquatic object recognition, managing our codebase with GitHub, conducting code reviews to 
				ensure quality, and documenting our processes and models in GitBook.
				`}
			>
			</PortfolioCard>
		</div>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="nrc">
			<Subtitle text='National Research Council (NRC)'/>
			<PortfolioCard
			img={buildings}
			alt={title}
			companyweb="https://nrc.canada.ca/en"
			projectdesc="https://nrc.canada.ca/en/research-development/research-collaboration/programs/high-performance-buildings-program"
			title='Web Application Developer Intern'
			badgeProps={[
				{ text: "Back-End" },
				{ text: "Python" },
				{ text: "Java" },
				{ text: "HQL" },
				{ text: "JUnit" },
				{ text: "Maven" },
				{ text: "SQLAlchemy" },
				{ text: "GitLab" },
				{ text: "Eclipse IDE" },
			]}
				badgeLinkProps={[ 
			]}
				description={`
				The NRC is the primary national research and technology organization of the Canadian government, focusing on 
				scientific research and development across various fields. My project and team were dedicated to managing the 
				energy managment information system dashboard for government clients' Smart Buildings, aiming to enhance energy efficiency and provide 
				cost-effective solutions. My contributions centered on backend development tasks, including code upgrades and 
				reviews to improve system readability and functionality, the development and execution of tests to ensure data 
				integrity, and the enhancement of APIs for efficient data management.
				`}
			>
			</PortfolioCard>
		</div>

		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="ocio">
			<Subtitle text='Office of the Chief Information Officer (OCIO)'/>		
			<PortfolioCard
			img={ocio}
			alt={title}
			companyweb="https://www.gov.nl.ca/exec/ocio/"
			title='Co-op Engineering Student'
			badgeProps={[
				{ text: "Back-End" },
				{ text: "APEX" },
				{ text: "SQL" },
				{ text: "Oracle Databse" },
				{ text: "Tortoise SVN" },
				{ text: "SVN" },
				{ text: "VS Code" }
			]}
				badgeLinkProps={[ 
			]}
				description={`
				The OCIO oversees Newfoundland and Labrador's information technology and information management strategies. 
				As a member of the Application Services team, my role focused on migrating applications from outdated technologies 
				to current platforms, optimizing SQL queries, and updating essential documentation, including disaster recovery 
				plans for the migrated applications. Additionally, my responsibilities involved liaising with clients across various
				provincial government departments, ensuring smooth transitions and aligning IT solutions with their specific needs.
				`}
			>
			</PortfolioCard>
			<PortfolioCard
			img={seafood}
			alt={title}
			companyweb="https://www.gov.nl.ca/exec/ocio/"
			project="https://www.geosurv.gov.nl.ca/fishaq/directory/"
			title='Co-op Engineering Student'
			badgeProps={[
				{ text: "Front-End" },
				{ text: "ASP.NET/Classic ASP" },
				{ text: "Jira" },
				{ text: "JavaScript" },
				{ text: "HTML/CSS" },
				{ text: "Tortoise SVN" },
				{ text: "SVN" },
				{ text: "VS Code" }
			]}
				badgeLinkProps={[ 
			]}
				description={`
				The OCIO oversees Newfoundland and Labrador's information technology and information management strategies. 
				As a member of the Application Services team specializing in front-end development, I upgraded the existing
				Seafood Products Directory web application for the Fisheries, Forestry, and Agriculture department. 
				This upgrade was implemented using the ASP.Net framework, along with HTML, CSS, and JavaScript to enhance the 
				application's usability and aesthetic appeal.
				`}
			>
			</PortfolioCard>
		</div>
		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]' id="mun">
			<Subtitle text='Student Residences MUN'/>		
			<PortfolioCard
			img={ra}
			alt={title}
			companyweb="https://www.mun.ca/residences/"
			reposite="https://github.com/DavidGuamanDavila/Web-Automation-Dinning-Hall"
			title='Resident Assistant'
			badgeProps={[
				{ text: "Leadership" },
				{ text: "Communication" },
				{ text: "Teamwork" },
				{ text: "Event Planning" },
			]}
				badgeLinkProps={[ 
			]}
				description={`
				Student residences offer more than just housing; they provide a secure, supportive community that enriches both academic and social 
				life. My role as a Resident Assistant, inspired by my predecessors, centers on cultivating a safe, inclusive environment conducive to academic
				success and personal growth. I've fostered a positive community, encouraged teamwork, guided residents in their academic and personal journeys,
				and created engaging programs. My responsibilities also include responding to emergencies and upholding university policies, all to ensure the 
				community's well-being.
				`}
			>
			</PortfolioCard>
		</div>
	</section>
</Layout>
