---
import Layout from "@/layouts/Layout.astro";
import Head from "@/components/Head.astro";
import Title from "@/components/Title.astro";
import { Image } from "astro:assets";
import water from "/src/assets/img/water-website.png";
import water2 from "/src/assets/img/h2ovoda.png";
import portfolioSite from "/src/assets/img/ov-main.png";
import byshikat from "/src/assets/img/online-store-byshikat.png";
import lmd from "/src/assets/img/online-store-lmd.png";
import blur from "/src/assets/img/bg.png";
import PortfolioCard from "@/components/PortfolioCard.astro";
import { getAbsoluteLocaleUrl } from "astro:i18n";

getAbsoluteLocaleUrl("ru");
export const prerender = true;
import { Buffer } from 'node:buffer';

let title = Astro.props;
---

<Head title='Портфолио' />
<Layout class="relative">
  <div class="grid mt-[11.1111%] content-center">
    <Title text='Портфолио' />
  </div>
  <!-- ABOUT ME -->
  <section class="grid px-3 lg:px-0 content-start text-white">
    <Image
      src={blur}
      class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
      alt="blur background"
    />
    <div class="grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]">


      <PortfolioCard
        img={water2}
        alt={title}
        site="https://h2ovoda.com.ua/"
        title='Сайт доставки воды 2.0'
        badgeProps={[{ text: "JavaScript" }, { text: "HTML/CSS" }]}
        badgeLinkProps={[
          { text: "Astro", alt: "Astro logo", href: "https://astro.build/" },
          {
            text: "TailwindCSS",
            alt: "TailwindCSS logo",
            href: "https://tailwindcss.com/",
          },
        ]}
        description='Я переделал сайт, чтобы предложить услуги по доставке воды в Белогородке и соседних регионах. Сайт имеет привлекательный дизайн, удобную верстку и простую интеграцию с аналитическими инструментами для повышения вовлеченности клиентов. Пользователи могут легко отправить заявку на доставку воды через форму заказа и получить удобный доступ к бутилированной питьевой воде.'
      />

      <PortfolioCard
        img={portfolioSite}
        alt={title}
        site="https://vratskyi.github.io/"
        title='Персональный блог и портфолио'
        badgeProps={[{ text: "JavaScript" }, { text: "HTML/CSS" }]}
        badgeLinkProps={[
          { text: "Astro", alt: "Astro logo", href: "https://astro.build/" },
          {
            text: "TailwindCSS",
            alt: "TailwindCSS logo",
            href: "https://tailwindcss.com/",
          },
        ]}
        description='Представляем вашему вниманию универсальный и бесплатный шаблон, разработанный для использования с последней версией Astro. Этот шаблон может похвастаться частыми обновлениями, удобным интерфейсом и совместимостью с различными целями. Идеально подходит для демонстрации портфолио, создания статей в блоге и личного рассказа. Раскройте потенциал для самовыражения без особых усилий с помощью этого шаблона.'
      />

      <PortfolioCard
        img={water}
        alt={title}
        site="https://old.h2ovoda.com.ua/"
        title='Сайт доставки воды 1.0'
        badgeProps={[{ text: "JavaScript" }, { text: "HTML/CSS" }]}
        badgeLinkProps={[
          { text: "Astro", alt: "Astro logo", href: "https://astro.build/" },
          {
            text: "TailwindCSS",
            alt: "TailwindCSS logo",
            href: "https://tailwindcss.com/",
          },
        ]}
        description='Разработанный мной сайт предлагает доставку воды в Белогородке и окрестностях. Он имеет привлекательный дизайн, интуитивно понятную верстку и интеграцию с аналитическими инструментами для привлечения большего количества клиентов. Посетители могут легко оставить заявку на доставку воды через форму заказа и получить доступ к бутилированной питьевой воде.'
      />

      <PortfolioCard
        img={byshikat}
        alt={title}
        site="https://byshikat.com/"
        title='Byshikat интернет-магазин обуви'
        badgeProps={[
          { text: "PHP" },
          { text: "ACF" },
          { text: "JavaScript" },
          { text: "HTML/CSS" },
        ]}
        badgeLinkProps={[
          {
            text: "WordPress",
            alt: "WordPress logo",
            href: "https://wordpress.com/",
          },
        ]}
        description='Проанализировав целевую аудиторию, я понял, что нужно сделать что-то похожее на модель поведения в Instagram, а также похожий хотя бы отдаленно дизайн, благодаря набору решений продажи из их instagram-магазина перешли в интернет-магазин и увеличились на 1000%'
      />

      <PortfolioCard
        img={lmd}
        alt={title}
        site="https://lmd.lviv.ua/"
        title='Бумажные подарочные пакеты'
        badgeProps={[
          { text: "PHP" },
          { text: "ACF" },
          { text: "JavaScript" },
          { text: "HTML/CSS" },
        ]}
        badgeLinkProps={[
          {
            text: "WordPress",
            alt: "WordPress logo",
            href: "https://wordpress.com/",
          },
        ]}
        description='Этот интернет-магазин работает на базе WordPress CMS и WooCommerce, я переделал старый сайт под современный дизайн и оптимизировал время загрузки, благодаря комплексному подходу количество посетителей и продаж увеличилось. Сейчас сайт находится в топе google в Украине.'
      />
    </div>
  </section>
</Layout>
