---
import { Picture, Image } from "astro:assets";
import PostLayout from "@layouts/PostLayout.astro";
import Head from "@components/Head.astro";
import Tag from "@components/Tag.astro";
import blur from "/src/assets/img/bg.png";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Prose from "@components/Prose.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const prerender = true;
import { Buffer } from 'node:buffer';

getAbsoluteLocaleUrl("en");

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"posts">;
const post = Astro.props;
const { Content } = await post.render();
const blogUrl = getAbsoluteLocaleUrl(lang, 'blog');
---

<Head title={`Blog - ${post.data.title}`} />
<Image
  src={blur}
  class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
  alt="blur background"
/>
<PostLayout>
  <Header />
  <article class="p-1 lg:p-5 mt-10 md:mt-0 mb-10 lg:mb-20 rounded-2xl">
    <Picture
      transition:name={post.data.title}
      src={post.data.image}
      alt={post.data.title}
      width="1024"
      height="600"
      formats={["avif", "webp"]}
      class="rounded-2xl mb-10 mx-auto object-cover w-full h-full max-h-[600px]"
      />
      



      <div class="grid grid-flow-col place-content-center font-light text-sm pb-4">
        <a
        class="flex-col self-center items-center blur-bg px-3 py-2 rounded-2xl hover:bg-primary-0 duration-150"
        href={`/${lang}/`}
      >
        <svg
        class="w-5 inline-block md:mr-1 my-auto"
        width="24"
        height="24"
        viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
            fill="currentColor"></path>
          </svg>
        <span class="hidden md:inline-block">Home</span>
      </a>
      <svg
      class="w-5 inline-block mx-2 my-auto"
      width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
        d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"
          fill="currentColor"></path>
      </svg>
      <a
        class="blur-bg px-3 py-2 rounded-2xl hover:bg-primary-0 duration-150"
        href={`${blogUrl}`}
        >
        <svg
          class="w-5 inline-block md:mr-1 my-auto"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          >
          <path
          d="M12.552 8C11.9997 8 11.552 8.44772 11.552 9C11.552 9.55228 11.9997 10 12.552 10H16.552C17.1043 10 17.552 9.55228 17.552 9C17.552 8.44772 17.1043 8 16.552 8H12.552Z"
            fill="currentColor"
            fill-opacity="0.5"></path>
            <path
            d="M12.552 17C11.9997 17 11.552 17.4477 11.552 18C11.552 18.5523 11.9997 19 12.552 19H16.552C17.1043 19 17.552 18.5523 17.552 18C17.552 17.4477 17.1043 17 16.552 17H12.552Z"
            fill="currentColor"
            fill-opacity="0.5"></path>
            <path
            d="M12.552 5C11.9997 5 11.552 5.44772 11.552 6C11.552 6.55228 11.9997 7 12.552 7H20.552C21.1043 7 21.552 6.55228 21.552 6C21.552 5.44772 21.1043 5 20.552 5H12.552Z"
            fill="currentColor"
            fill-opacity="0.8"></path>
            <path
            d="M12.552 14C11.9997 14 11.552 14.4477 11.552 15C11.552 15.5523 11.9997 16 12.552 16H20.552C21.1043 16 21.552 15.5523 21.552 15C21.552 14.4477 21.1043 14 20.552 14H12.552Z"
            fill="currentColor"
            fill-opacity="0.8"></path>
            <path
            d="M3.448 4.00208C2.89571 4.00208 2.448 4.44979 2.448 5.00208V10.0021C2.448 10.5544 2.89571 11.0021 3.448 11.0021H8.448C9.00028 11.0021 9.448 10.5544 9.448 10.0021V5.00208C9.448 4.44979 9.00028 4.00208 8.448 4.00208H3.448Z"
            fill="currentColor"></path>
            <path
          d="M3.448 12.9979C2.89571 12.9979 2.448 13.4456 2.448 13.9979V18.9979C2.448 19.5502 2.89571 19.9979 3.448 19.9979H8.448C9.00028 19.9979 9.448 19.5502 9.448 18.9979V13.9979C9.448 13.4456 9.00028 12.9979 8.448 12.9979H3.448Z"
            fill="currentColor"></path>
          </svg>
        <span class="hidden md:inline-block">Blog</span>
      </a>
      <svg
        class="w-5 inline-block mx-2 my-auto"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
      <path
      d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"
      fill="currentColor"></path>
    </svg>
    <div class="blur-bg px-3 py-2 rounded-2xl">
      <h6 class="line-clamp-1 lg:line-clamp-none">
        <svg
        class="w-5 inline-block md:mr-1 my-auto"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path d="M7 18H17V16H7V18Z" fill="currentColor"></path>
            <path d="M17 14H7V12H17V14Z" fill="currentColor"></path>
            <path d="M7 10H11V8H7V10Z" fill="currentColor"></path>
            <path
            fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 18.584 7H15V4.10002Z"
              fill="currentColor"></path>
            </svg>
          {post.data.title}
        </h6>
      </div>
    </div>




    <ul class="pb-1 grid grid-flow-col place-content-center">
      <li
        class="mb-4 my-auto text-xs font-light blur-bg rounded-2xl px-2 py-1 inline-grid grid-flow-col place-items-center"
        >
        <svg
        class="w-6 inline-block mr-1 my-auto"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
        </svg>
        {post.data.author}
      </li>
      <li
        class="mb-4 my-auto text-xs font-light blur-bg rounded-2xl inline-grid grid-flow-col"
      >
        <date class="px-2 py-1 inline-grid grid-flow-col place-items-center">
          <svg
          class="w-6 inline-block mr-1 my-auto"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          {post.data.publishDate}
        </date>
      </li>
      <li
        class="mb-4 ml-2 my-auto text-xs font-light blur-bg rounded-2xl px-2 py-1 inline-grid grid-flow-col place-items-center place-self-start"
      >
        <svg
        class="w-6 inline-block mr-1 my-auto"
        fill="none"
          stroke="currentColor"
          stroke-width="1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122"
          ></path>
        </svg>
        {post.data.categories}
      </li>
      <Tag text={post.data.tags} />
    </ul>


    <div class="horizontal-line"></div>
    
    <div class="pt-2">
      <div
      class="blur-bg rounded-xl p-3 lg:p-10 mb-10 mt-5 text-2xl lg:text-2xl text-pretty subpixel-antialiased break-words w-full mx-auto"
      >
      <h1
        class="text-4xl lg:text-5xl my-10 font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0"
      >
        {post.data.title}
      </h1>
        <Prose> 
          <Content />
        </Prose>
      </div>
    </div>
  </article>
</PostLayout>

<Footer />
